.comment
  .comment-head
    = comment.user.email
    .comment-time
      = render 'shared/timeago', datetime: comment.created_at
    .comment-delete-btn
      = link_to 'x', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'}
  .comment-message
    = simple_format(comment.message)
