<div class='comment-message'>
  <div class='comment-delete-btn'>
    <%= link_to 'x', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
  <%= comment.message %>
</div>