<h1>List of articles</h1>
<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New', new_article_path %>
<%-# link_to 'New', controller: 'articles', action: 'new' -%>
