# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fd21f2cf0950e3d5a32b49f2ca69500e8fa7926d99344433fb8b04ad8a79772eea2a7a10933f367d93c225e11ee76bbff54f8e5be6afaede7ceb6028dc8358ba

test:
  secret_key_base: 9d1394d0777612e125c5dd0d2038c318e8448a24c4f249ea3ca3c546396bb2ced8f75d3c05d0da3c026cb71e79e8fc2300002760b22569379fade7a0d3db9ac1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
