// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #004b91;

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

table {
  border-collapse: collapse;
}

tr td {
  padding: 5px;
}

thead {
  background-color: $primary-color;
  color: white;

  th {
    padding: 10px;
  }
  .sort_link {
    color: white;
  }
}

.btn {
  border: 1px solid $primary-color;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  height: 31px;
  background-color: white;
  color: $primary-color;
  cursor: pointer;
  vertical-align: middle;

  &--warning {
    padding: 5px;
    color: orange;
  }

  &--error {
    padding: 5px;
    color: red;
  }

  &--block {
    color: white;
    background-color: $primary-color;
  }
}

.article-text {
  width: 70vw;
  max-height: 200px;

}

p.article-text {
  text-indent: 50px;
  width: 100%;
  max-height: none;
}

.article-title {
  width: 20vw;
}

.article-action {
  text-align: center;
}

input[type='text'], textarea {
  width: 100%;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  margin-top: 10px;
  border: 1px solid black;

  &:focus {
    outline: $primary-color solid 2px;
  }
}

textarea {
  height: 60vh;
  max-width: 100%;
}

input[type='text'] {
  height: 40px;
}

.field_with_errors {
  display: inline;
}

.text-right {
  float: right;
}

.nav {
  height: 56px;
  margin: -10px;
  margin-bottom: 0px;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  font-size: 30px;
  background-color: $primary-color;
  color: white;

  .settings {
    position: absolute;
    right: 20px;
    top: 19px;
    display: inline-block;
    font-size: 14px;

    a {
      color: white;
      margin-left: 10px;
    }

    .avatar {
      position: absolute;
      right: 60px;
      top: -16px;
      background-color: white;
      border-radius: 3px;
    }
  }
}

.search-input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid $primary-color;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;

  &:focus {
    outline: none;
  }
}

.search-field {
  input, select {
    height: 30px;
    border-radius: 5px;
    border: 1px solid $primary-color;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }

  input {
    width: 300px;
  }
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}